:root{
    --backgroundColor: #8E7848;
    --textColor: #fff;
    --secondColor: oklch(from var(--backgroundColor) calc(l * 0.5) c h);
    --subtitleColor: color-mix(in oklch, var(--textColor) 20%, var(--backgroundColor));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundColor);
}

.hero {
    padding: 0px 20px 150px;
    background-color: var(--secondColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.hero .backgroundSelector{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    align-self: flex-start;
    color: var(--textColor);
    top: 10px;
    left: 10px;
}

.hero .backgroundSelector svg{
    color: var(--textColor);
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.hero-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--textColor);
    object-fit: cover;
    margin-bottom: 20px;
}

.hero-name{
    margin-bottom: 10px;
    font-size: 3rem;
    color: var(--textColor);
}

.hero a{
    text-decoration: none;
}

.hero-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--subtitleColor);
    margin-bottom: 20px;
}

.hero-subtitle {
    color: var(--textColor);
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
}

main {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    margin-top: -150px;
}

.card {
    z-index: 10;
    background-color: var(--secondColor);
    color: var(--textColor);
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card .image-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px var(--secondColor);
}

.card .image-container .Imagem {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.card .image-container .play-button {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card .image-container:hover .play-button {
    opacity: 1;
}

.card .image-container:hover .Imagem {
    opacity: 0.9;
}

.card .image-container .play-button svg {
    width: 30px;
    height: 30px;
    transform: translate(10%);
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content .title {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.card-content .description {
    color: var(--textColor);
    flex-grow: 1;
    margin-bottom: 20px;
    font-size: 1.09rem;
}

.card-content .github-link{
    color: var(--textColor);
}

/* Botao de selecionar cor */
input[type="color"] {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

input[type="color"]:hover {
  transform: scale(1.05);
}

input[type="color"] {
  appearance: none;
  width: 70px;
  height: 70px;
  padding: 10px;
  border: none;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch {
  border: 1px solid var(--textColor);
  border-radius: 50px;
  box-shadow: var(--textColor) 0px 0px 1px;
}

@media (max-width: 768px) {
    .card .image-container .play-button {
        opacity: 1;
    }

    .hero .backgroundSelector label{
        display: none;
    }

    .hero .backgroundSelector svg{
        visibility: visible;
    }
}